.btn {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn i {
  font-size: 20px
}

.btn-primary {
  background: $color-primary;
  color: $color-light;
  font: $letter-btn;
}

.btn-secondary {
  padding: 1px 7px;
  background: $color-dark;
  color: $color-light;
  font: $letter-btn;
  font-size: 13px;
}