.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: auto;

  input {
    padding: 5px 10px;
  }
  button {
    margin-top: 15px;
  }
  p {
    margin: 10px 0 0px;
  }
  .form-column {
    display: flex;
    justify-content: space-between;
  }
}

.readonly {
  opacity: 0.9;
  outline: none;
  border: none;
}

.readonly:focus {
  outline: none
}